<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Burger Time!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		{{!-- <link href="https://fonts.googleapis.com/css?family=Barriecito&display=swap" rel="stylesheet"> --}}
		<link href="https://fonts.googleapis.com/css?family=Tomorrow&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="./assets/styles/style.css" type="text/css" />
</head>

	<body>
		
		{{{ body }}}

	</body>
    
	<script src="/assets/js/burgers.js"></script>

</html>