<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="public/assets/styles/style.css" type="text/css" />
		<title>Burger Time!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Barriecito&display=swap" rel="stylesheet">
		<script src="/assets/js/burgers.js"></script>
</head>

	<body>
		
		{{{ body }}}

	</body>
    
</html>