
<div class="container">

<div id="devouredContainer">

<h1>Burger Time!</h1>

<ul id="notDevoured">
  {{#each burgers}}
    {{#unless this.devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Devoured Burgers</h2>
<ul id="isDevoured">
  {{#each burgers}}
    {{#if this.devoured}}
      {{> burgers/burger-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>

</div>

<form id="addBurgerForm" class="create-form">

<h2>Add a Burger</h2>

<p>Enter any burger of your choice, then click the 'Add Burger' button.</p>

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="sleepy">Has this burger been devoured?</label><br>
    <input type="radio" name="devoured" value="1" checked> Devoured!<br>
    <input type="radio" name="devoured" value="0"> Not Devoured!
  </div>

  <button type="submit">Add Burger</button>

</form>

<img src="pxlbrTransparent.jpg" alt="8 bit pixel burger">

</div>