<li>
	<h3>{{burger_name}}</h3>

	<button class="change-devour" data-id="{{id}}" data-newdevour="{{devoured}}">
		Devour It!
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>