<li>

	<div id="burgerBlock" class="wrapper">

		<h3>{{burger_name}}</h3>

		<button class="changeDevour" data-id="{{id}}" data-newdevour="{{devoured}}">Devour It!</button>

		<button class="deleteBurger" data-id="{{this.id}}">DELETE!</button>

	</div>

</li>