body {
    background: url("burger.jpg");
    background-repeat: no-repeat;
      background-size: 100%;
      font-family: 'Barriecito', cursive;
    font-weight: 400;
      color: rgb(182, 21, 155);
      
    }
  
    h1{
      font-size: 40px;
      text-decoration: underline
    }
  
    h2 {
      font-size: 22px
    }
  
    li {
      padding: 5px;
      margin: 5px;
      list-style: none;
      font-size: 24px
    }
    
    .label {
      font-weight: bold;
    }
    
    .create-update-form {
      padding: 5px;
      margin: 5px;
      background: aqua;
    }
    
    .form-group {
      margin-bottom: 5px;
      font-size: 20px
    }
  
    p {
      font-size: 20px;
    }
  
  .container {
    display: inline-block;
    text-align: center;
    font-weight: bold;
    margin-left: 300px;
    /* background: white;
    opacity: 0.5; */
  
  }