body {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://ctl.s6img.com/society6/img/AcXR_F0ds0VlG5QpC7p_7q8xqY0/w_1500/shams/swatch/~artwork,fw_6105,fh_3500,fy_-2116,iw_6105,ih_7732/s6-original-art-uploads/society6/uploads/misc/6a84968b6e1c44149e9d3538750542b9/~~/retro-80s-shapes-pattern-shams.jpg') center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  font-family: 'Tomorrow', sans-serif;
  font-weight: 400;
  color: rgb(182, 21, 155);
}
  
h1 {
  font-size: 40px;
}
  
h2 {
  text-align: center;
  border: 2px outset aqua;
  font-size: 22px;
  background-color: aqua;
}
  
li {
  padding: 5px;
  margin: 5px;
  list-style: none;
  font-size: 24px
}
    
.label {
    font-weight: bold;
}
    
.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}
    
.form-group {
  margin-bottom: 5px;
  font-size: 20px
}
  
p {
  font-size: 20px;
}

#devouredContainer {
  text-align: center;
  color: #201148;
  font-weight: bold;
  float: right;
  padding: 20px;
  margin: 15px;
  border: 5px outset #00ccfd;
  box-shadow: 0 0 30px #55e7ff;
  background: linear-gradient(#ff34b3, #2011a2);
}

#addBurgerForm {
  text-align: center;
  color: #201148;
  font-weight: bold;
  float: left;
  padding-bottom: 15px;
  margin: 15px;
  border: 5px outset #00ccfd;
  box-shadow: 0 0 30px #55e7ff;
  background: linear-gradient(#2011a2, #ff34b3);
}

img {
  bottom: 0;
  float: left;
  margin: 15px;
}
  
/* .container {
  display: inline-block;
  text-align: center;
  font-weight: bold;
  margin-left: 300px;
  } */